body{
  width:100vw;
  height:100vh;
  background-color: #6491F8 !important;
  }

.container{
  height: 100%;
  background-image: url("../images/iphone.png");
  background: cover;
  background-repeat: no-repeat;
    background-size: contain;
    background-size: 1114px 982px ;
}
#first-row{
  height: 100%;
}
.col-4{
  background:blue ;

}

#row1{
  width: 404.9px;
  height: 233.4px;
  margin-left: 1%;
  margin-top: 133.5px;
  background-image: url("../images/background.png");
  overflow: hidden;
  color: white;
}

/* beginning row1 */
#row1 h2{
  font-size: 15px;
  padding: 25px 0 0 10px;
}

#current_station{
  font-size: 30px;
  padding-left: 10px;
  font-weight: bold;
}
#alarma-icon{
  display: inline-block;
  margin-top: 14px;
}
/* end row1 */
/* beginning row2 */
#row2{
  margin-left: 1%;
  position: relative;
  top: -120px;
}

.card{
    width: 385px;
    border-radius: 25px !important;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.26), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    border: 0 !important;
    margin-bottom: 19px;
    margin-left: 9px;
}

#carheader1{
  background: #25B3ED;
  border-radius: 25px 25px 0 0;
  font-weight: bold;
  line-height: 2.4;
}

#carheader2{
  background: #FFEA61;
  border-radius: 25px 25px 0 0;
  font-weight: bold;
  height: 60px;
}

.alarms-notifi {
  display: inline-block;
}

#button-alarms{
  float: right;
  margin-top: 6px;
}
#button-time{
  float: right;
  margin-top: 6px;
}
#carheader3{
  background: #C0F86C;
  border-radius: 25px 25px 0 0;
  font-weight: bold;
}

.modal-body{
  padding: 0;
}
.modal-content{
  margin-top: 140px;
  margin-left: 35px;
  overflow: hidden;
  width: 400.9px !important;
  height: 700.4px;
  margin-right: 10px;
}



.rutas-div{
  margin-top: 60px;
  margin-left: -30px;
}

.rutas-div img{
  width: 400px;
  height: 500px;
  margin-left: 13px;
}

#row3{
  width: 404.9px;
  height: 233.4px;
  margin-left: 1%;
  position: relative;
  top: -136px;
  padding-top: 6px;
}

.imgsize{
  margin-top: 2px ;
}


.alert-back{
  background-color: #FFEA61 !important;
  height: 513px;
}

#id-alert{
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

#description-alert{
  font-size: 20px;
  margin-top: 150px;
}

@media (max-width: 1300px) {

    div.container{
      margin: 0;
    }

 }
